/*3.2- About Section*/
.about-content{
    overflow: hidden;
  }
  .about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px ;
  }
  .about-item.mg{
    margin: 0 5%;
  }
  .about-item .icon{
    color: var(--main-color);
    margin-bottom: 10px;
  }
  .about-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
  }
  .about-item:hover .about-item-title{
    color: var(--whitcolor);
  }
  .about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color: var(--graycolor);
  }
  .about-item-link{
    color: var(--main-color);
    text-transform: capitalize;
  }
  