/* 3.6- Number Section*/
.number-section{
    position: relative;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height:300px;
  }
  .number-items{
    overflow: hidden;
    padding: 100px 0;
    
  }
  .number-item{
    width: 25%;
    float: left;
    text-align: center;
  }
  .number-item .icon{
    color: var(--main-color);
    margin-bottom: 15px;
  }
  .number-item-title{
    font-size: 45px;
    font-weight: bold;
    color:var(--whitcolor);
  }
  .number-item-text{
    color:var(--whitcolor);
  }