/* 3.4- offer-Section*/
.offer-content{
    overflow: hidden;
  }
  .offer-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 20px 15px 30px 70px;
    position: relative;
  }
  .offer-item.mg{
    margin: 0 5%;
  }
  .offer-item .icon{
    position: absolute;
    top: 30px;
    left: 15px;
    color: var(--main-color);
    
  }
  .offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .offer-item:hover .offer-item-title{
    color: var(--whitcolor);
  }