/*
  1- common styles
  2- General style
  3- Sections style 

    3.0 Header Section
    3.1 Home Section
    3.2 About Section
    3.3 Portfolio Section
    3.4 offer Section
    3.5 Services Section
    3.6 number Section
    3.7 Pricices Section
    3.8 testmoinal Section
    3.9 Team Section
    3.10 blog Section
    3.11 Contact Section
    3.12 footer Section
*/

/* 1- common styles 
الشغلات المكررة في التصميم 
  -container
  -overlay
  - opactiy hover
  - section header
  - section padding
  - hover effect 1(left to right)
  - hover effect 2 (top to botton)
  - container
*/
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hover-opacity{
  transition: opacity 0.5s;
}
.hover-opacity:hover{
  opacity: 0.8;
}
.ltr-effect,
.tb-effect{
  position: relative;
  
}
.ltr-effect::after,
.tb-effect::after{
  position: absolute;
  content:'';
  top:0;
  left: 0;
  background-color: #333;
  z-index: -1;
}
.ltr-effect::after{
  width: 0%;
  height: 100%;
  transition: width 0.5s;
}
.ltr-effect:hover::after{
  width: 100%;
}

.tb-effect::after{
  width: 100%;
  height: 0%;
  transition: height 0.5s;
}
.tb-effect:hover::after{
 height: 100%;
}


/*2- General css style*/
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box; /* ما بيخلي border و padding يزودو من الحجم */
}
:root{
  --main-color: #6195ff;
  --graycolor:#999;
  --whitcolor:#fff;

}
.container{
  width: 80%;
  margin: auto;
}

body{
  font-family: 'Varela Round', sans-serif;
}
.clear{
  clear: both ;
}
h1, h2, h3, h4, h5, h6{
  font-family: montserrat ,sans-serif;
}
button{
  font-family: 'Varela Round', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.pd-y{
  padding: 120px 0;
}
.Section-header{
  text-align: center;

}
.Section-header .sectiom-title{
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.Section-header .line{
  display: block;
  width: 60px;
  height: 5px;
  background-color: var(--main-color);
  margin: 0px auto 70px;
}

/* 3- Section Style */













